# .gitignore
fp-info-cache
*.kicad_prl
*-backups/
*-backups/*
.DS_Store
datasheets/.DS_Store
*~elastic_power_module.kicad_pcb.lck
*~elastic_power_module.kicad_sch.lck
elastic_power_module.kicad_prl
elastic_power_module.kicad_prl
elastic_power_module.kicad_prl
